<div class="slideshow">
  <ul>
    <li><%= image_tag("banner1.jpg") %>
      <div class="slideshow-text">
        <h1>Bonjour</h1>
        <p>Bienvenue dans notre restaurant</p>
      </div>
    </li>
    <li><%= image_tag("banner2.jpg") %></li>
    <li><%= image_tag("banner3.jpg") %></li>
  </ul>
  <!-- Next and previous buttons -->
  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
</div>

<div class="container">

  <ul class="tabs">
    <li class="tab current" data-tab="tab-1">Présentation</li>
    <li class="tab" data-tab="tab-2">Menu</li>
    <li class="tab" data-tab="tab-3">Contact</li>
  </ul>

  <div id="tab-1" class="tab-content current">
    <h2>Poke Bowl, What it is ?</h2>
    <p>Poke /poʊˈkeɪ/ (Hawaiian for "to slice" or "cut crosswise into pieces"; sometimes stylized Poké to aid pronunciation) is diced raw fish served as either an appetizer or as a main course and is one of the main dishes of Native Hawaiian cuisine. Traditional forms are aku (an oily tuna) and he'e (octopus). He'e (octopus) poke is usually called by its Japanese name "Tako" Poke, except in places like the island of Ni'ihau where the Hawaiian language is spoken. Increasingly popular ahi poke is generally made with yellowfin tuna. Adaptations may feature raw salmon or various shellfish as a main ingredient served raw with the common "poke" seasonings.</p>
    <h3>Ingredients</h3>
    <p>Poke began with fishermen seasoning the cut-offs from their catch to serve as a snack. Traditional poke seasonings have been heavily influenced by Japanese and other Asian cuisines. These include soy sauce, green onions, and sesame oil. Others include furikake (mix of dried fish, sesame seeds, and dried seaweed), chopped dried or fresh chili pepper, limu (seaweed), sea salt, inamona (roasted crushed candlenut), fish eggs, wasabi, and Maui onions. Other variations of poke may include cured heʻe (octopus), other types of raw tuna, raw salmon and various kinds of shellfish.
      Traditional Hawaiian poke may consist of cubed raw fish, maui onions, Inamona (a condiment made of roasted, salted candlenut), Limu (algae), soy sauce, green onions, or sesame oil.</p>

    </div>

    <div id="tab-2" class="tab-content">
      <h2>Menu</h2>
      <p>1. Pick your size<br><br>
      Regular    $10.00    (3 proteins)<br>
      Large        $11.50    (4 proteins)<br><br>
      2.  Pick your base<br><br>
      White Sushi rice<br>
      Brown rice<br>
      Organic mixed green.<br>
      Mix & Match any two.<br><br>

      Extra Base (+$1.00)<br><br>

      3.  Pick your vegetable and crab mayo<br><br>
       Cucumber<br>
       White onion<br>
       Red cabbage<br><br>
      4.  Pick your proteins<br><br>
     “Consumer advisory for Raw Food”<br>
       Raw:<br>
              Salmon/Ahi Tuna/Yellowtail<br>
       Raw Marinated:<br>
              Ahi Tuna mix/Spicy Scallop<br>
      Cooked:<br>
              Tofu/Shrimp​/Squid Salad<br><br>
​      5.  Pick your sauce<br><br>
       House special sauce mild/spicy<br>
       Sriracha mayo (Spicy)<br>
       Wasabi cream (Spicy)<br>
       Ponzu</p>

    </div>

    <div id="tab-3" class="tab-content">
      <h2>Tab Three</h2>

      <!-- Your content here -->
    </div>
  </div><!-- container -->
